/* ---------------- Basic styling ---------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}

nav, a {
    color: white;
}

nav {
    background: #222;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

a:hover {
    color: orange;
}

.menu {
    list-style-type: none;
}

.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
    font-weight: 700;
}

.item {
    padding: 10px;
}



/* ---------------- Mobile menu ---------------- */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 15px 5px;
}

.toggle {
    order: 1;
    font-size: 20px;
}

.item {
    order: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}


/* ---------------- Tablet & Desktop menu ---------------- */


@media all and (min-width: 481px) {
   
}